version: '3.7'

services:

  sample:
    container_name: sample
    build:
      context: ./front/sample
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    volumes:
      - './front/sample:/app'
      - '/app/node_modules'
    ports:
      - 3001:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
   
  api_login:
    container_name: api_login
    restart: always
    build:
      context: ./api_login
      dockerfile: Dockerfile
    ports:
      - 4000:4000
    links:
      - mongo_login

  api_catalogue:
    container_name: api_catalogue
    restart: always
    build:
      context: ./api_catalogue
      dockerfile: Dockerfile
    ports:
      - 4001:4001
    links:
      - mongo_catalogue

  api_panier:
    container_name: api_panier
    restart: always
    build:
      context: ./api_panier
      dockerfile: Dockerfile
    ports:
      - 4002:4002
    links:
      - mongo_panier
    
  mongo_login:
    container_name: mongo_login
    volumes:
      - mongo_login:/data/db
      - mongo_login_config:/data/configdb
    image: mongo
    restart: always
    ports:
      - 27017:27017
      
  mongo_catalogue:
    container_name: mongo_catalogue
    volumes:
      - mongo_catalogue:/data/db
      - mongo_catalogue_config:/data/configdb
    image: mongo
    restart: always
    ports:
      - 27018:27017

  mongo_panier:
    container_name: mongo_panier
    volumes:
      - mongo_panier:/data/db
      - mongo_panier_config:/data/configdb
    image: mongo
    restart: always
    ports:
      - 27019:27017
      
volumes:
  mongo_login:
  mongo_login_config:
  mongo_catalogue:
  mongo_catalogue_config:
  mongo_panier:
  mongo_panier_config: